@mixin
centerFlexWithPaddingAndMargin($padding: 0, $margin: 0, $direction: center) {
  display: flex;
  justify-content: $direction;
  margin: $margin;
  padding: $padding;
}

@mixin
displayFlexRow($direction: row) {
  display: flex;
  flex-direction: $direction;
}
